@font-face {
    font-family:"COUTURE Bold";
    src:url("fonts/COUTURE-Bold.eot?") format("eot"),
    url("fonts/COUTURE-Bold.woff") format("woff"),
    url("fonts/COUTURE-Bold.ttf") format("truetype"),
    url("fonts/COUTURE-Bold.svg#COUTURE-Bold") format("svg"),
    url('fonts/subset-COUTURE-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Quite Chocolatey';
    src: url('fonts/subset-QuiteChocolatey.eot');
    src: url('fonts/subset-QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-QuiteChocolatey.woff2') format('woff2'),
        url('fonts/subset-QuiteChocolatey.woff') format('woff'),
        url('fonts/subset-QuiteChocolatey.ttf') format('truetype'),
        url('fonts/subset-QuiteChocolatey.svg#QuiteChocolatey') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'PT Serif', serif;
}
.container {
    max-width: 996px;
    margin: 0 auto;
    padding: 0 10px;
}
.shapka {
    background-image: url('images/fon-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.shapka-img {
    background-color: rgba(210, 200, 179, 0.5);
}
.shapka-info {
    padding-top: 163px;
}
.shapka-block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
}
.shapka-menu__list {
    display: flex;
    flex-direction: row;
}
.shapka-forma__name {
    padding-bottom: 37px;
}
.shapka-logo__text {
    color: #d03958;
    font-family: 'Quite Chocolatey';
    font-size: 88px;
    line-height: 32px;
    letter-spacing: -1.2px;
}
.shapka-menu__text {
    color: #1b1b1b;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
    text-decoration: none;
}
.shapka-menu__name {
    margin-right: 2px;
    border-radius: 3px;
    padding: 11px 15px;
}
.shapka-menu__name:hover .shapka-menu__text {
    color: #ffffff;
}
.shapka-menu__name:hover {
    background-color:  #d03958;
}
/*HEADER -- FORM*/
.shapka-block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    position: relative;
}
.shapka-info {
    width: 493px;
    padding-bottom: 156px;
}
.shapka-info__title {
    color: #d03958;
    font-family: 'Montserrat';
    font-size: 90px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1.8px;
    padding-bottom: 47px;
}
.shapka-info__title_color_black {
    color: #161616;
}
.shapka-info__text {
    color: #161616;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.shapka-position {
    position: absolute;
    top: 149px;
    left: 558px;
}
.shapka-forma {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    background-color: #d03958;
    border-radius: 5px;
    padding: 0px 23px 0px 24px;
}
.shapka-forma__name {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    padding-top: 33px;
}
.shapka-forma__field {
    color: #b5b5b5;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.4px;
    padding: 20px 0px 20px 19px;
    border: none;
    border-radius: 5px;
    margin-bottom: 17px;
}
.shapka-forma__field-position {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: row;
}
.shapka-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fake-field {
    width: 17px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 1px 0px;
}
.shapka-forma__field:checked + .fake-field {
    background-image: url('https://image.flaticon.com/icons/png/512/37/37558.png');
}    
.shapka-forma__field_color_white {
    color: #ffffff;
    padding: 0px;
}
.shapka-forma__button {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    border: none;
    border-radius: 5px;
    background-color: #161616;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 28px;
}
/*main*/
.content__title-services {
    color: #d03958;
    font-family:"COUTURE Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 45px;
    padding-bottom: 90px;
}
.content__title_color_black {
    color: #161616;
}
.content-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-card__img-text {
    padding-top: 46px;
    width: 168px;
    color: #161616;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: center;
}
.content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 64px;
}
.content-story {
    background-color: #d03958;
}
.content-story__display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 28px;
}
.content-text__describe {
    width: 601px;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.content-button__describe {
    width: 128px;
    text-decoration: none;
    background-color:#e3d5b8;
    border-radius: 5px;
    padding: 24px 76px 23px 65px;
}
.content-button__font {
    text-transform: uppercase;
    letter-spacing: -0.44px;
    color: #161616;
    font-size: 22px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.content-pricing__title {
    color: #1f1f1f;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 57px;
}
.content-price-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-pricing {
    background-color: #e3d5b8;
}
.content-price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    width: 318px;
    position: relative;
}
.content-price-card__title {
    color: #161616;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.44px;
    padding-top: 37px;
}
.content-price-card__free {
    color: #d03958;
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1.2px;
}
.content-price-card__list {
    color: #161616;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: center;
}
.content-price-card__button {
    color: #161616;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    text-decoration: none;
    padding: 18px 83px 15px 79px;
    background-color:   #e3d5b8;
    border-radius: 5px;
    margin-top: 34px;
}
.content-price-card__button:hover {
    background-color: #d03958;
    color: #ffffff;
}
.content-price-card__image {
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
}
.content-price-card__text {
    color: #1f1f1f;
    font-size: 11px;
    line-height: 18.97px;
    letter-spacing: -0.32px;
    transform: rotate(-45deg);
    position: absolute;
    left: 10px;
    top: 22px;
}/*block3*/
.content-display-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}
.content-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 416px;
}
.content-reviews__title {
    color: #1f1f1f;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 154px;
}
.content-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 416px;
    margin-right: 137px;
}
.content-menu {
    display: flex;
    flex-wrap: wrap;
}
.content-pictures__title {
    color: #d03958;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 151px;
    padding-bottom: 66px;
}
.content-pictures__new {
    color: #d03958;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}
.content-pictures__link {
    padding-top: 46px;
}
.content-blockquote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 26px;
    margin-top: 62px;
    position: relative;
    width: 439px;
}
.content-blockquote-bg-color {
    background-color: #e3d5b8;
    margin-bottom: 119px;
    padding-top: 26px;
    padding-bottom: 27px;
    border-radius: 5px;
    border: none;
}
.content-blockquote__text {
    color: #161616;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    width: 341px;
}
.content-blockquote__text_color_red {
    color: #d03958;
    font-family: 'Montserrat';
    font-weight: 700;
    padding-top: 23px;
}
.content-blockquote__img {
    position: absolute;
    top: 2px;
    left: 351px;
}
.content-blockquote__img-position {
    top: 19px;
    left: 359px;
}
/*footer*/
.footer {
    background-color: #161616;
}
.last-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 73px 30px 64px;
}
.last-block__text {
    width: 540px;
    color: #ffffff;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.4px;
}
.last-block__text-color-red {
    color: #d03958;    
}
.last-block__logo {
    color: #d03958;
    font-family: "Quite Chocolatey";
    font-size: 64px;
    line-height: 23.6px;
    letter-spacing: -1.2px;
}
@media (max-width: 995px) {
.container {
    padding: 10px 10px;
}
.shapka-info__title {
    font-size: 69px;
    text-align: center;
 }
 .shapka-info__text {
     text-align: center;
 }
.shapka-info {
    width: 100%;
    margin-bottom: 713px;
    padding-top: 50px;
    padding-bottom: 0px;
}
.shapka-forma {
    max-width: 100%;
}
.shapka-position {
    top: 345px;
    left: 0px;
    margin: 30px auto 0px auto;
    width: 100%;
}
.content__title-services {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
}
.content-text__describe {
    width: 460px;
    }
.content-story__display {
    justify-content: space-around;
}
.content-reviews {
    width: 345px;
    margin-right: 120px;
}
.content-reviews__title {
    padding-top: 0px;
    font-size: 36px;
    line-height: 76px;
}
.content-pictures__title {
    padding-top: 0px;
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 76px;
}
.content-display {
    width: 100%;
}
.content-display-blocks {
    padding-top: 52px;
}
.last-block__logo {
    line-height: 50px;
}
.last-block__text {
    line-height: 45px;
}
.content-menu {
    flex-wrap: wrap;
    justify-content: center;
}
.content-blockquote {
    max-width: 995px;
    width: 100%;
    justify-content: flex-start;
}
.content-blockquote__text {
    font-size: 18px;
    line-height: 28px;
    width: 310px;
}
.content-blockquote__img {
    position: absolute;
    top: 2px;
    left: 310px;
}
.content-price-card {
    margin: 10px;
}
.content-price-card__button {
    padding: 15px 30px;
    margin-bottom: 10px;
    width: 160px;
    text-align: center;
}
.content-price-card__free {
    font-size: 40px;
}
.content-pricing__title {
    padding-top: 30px;
    padding-bottom: 30px;
}
}
@media (max-width: 767px) {
    body {
        min-width: 320px;
    }
    .shapka-block1 {
        flex-direction: column;
        justify-content: center;
        padding-top: 42px;
    }
    .shapka-position {
        top: 252px;
    }
    .shapka-menu__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .shapka-info__title {
        font-size: 45px;
        line-height: 55px;
    }
     .shapka-menu__name {
        padding: 5px 10px;
    }
    .shapka-info {
        padding-top: 25px;
        margin-bottom: 615px;
    }
    .shapka-info__title {
        padding-bottom: 0px;
    }
    .shapka-forma__name {
        font-size: 20px;
        padding-top: 18px;
        padding-bottom: 20px;
    }
    .shapka-forma__field {
        font-size: 18px;
        padding: 15px 0px 15px 17px;
        margin-bottom: 10px;
    }
    .shapka-forma__button {
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 18px;
    }
    .content__title-services {
        font-size: 34px;
        line-height: 30px;
        text-align: center;
    }
    .content-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-card {
        padding: 5px 10px 64px;
    }
    .content-story__display {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 18px;
    }
    .content-button {
        margin-top: 25px;
    }
    .content-text__describe {
        width: 300px;
        max-width: 100%;
    }
    .content-button__describe {
        padding: 18px 46px;
    }
    
.content-pricing__title {
    font-size: 30px;
    line-height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-price-cards {
    flex-wrap: wrap;
    justify-content: center;
}
.content-price-card {
    margin: 10px;
    width: 100%;
}
.content-price-card__free {
    font-size: 35px;
}
.content-price-card__button {
    padding: 10px 33px 10px 39px;
    margin: 15px 0 15px;
}
.content-display-blocks {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.content-display {
    max-width: 767px;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.content-reviews__title {
    font-size: 40px;
    padding-top: 45px;
}
.content-reviews {
    margin-right: 0px;
    max-width: 767px;
    width: 100%;
}
.content-blockquote {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    margin-top: 30px;
    position: static;
    max-width: 700px;
    width: 100%;
}
.content-blockquote__text {
    max-width: 680px;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.content-blockquote__img {
    position: static;
}
.content-blockquote-bg-color {
    margin-bottom: 20px;
    padding-top: 0px;
}
.content-pictures__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.content-menu {
    flex-wrap: wrap;
    justify-content: center;
}
.content-pictures__link {
    padding-top: 20px;
}
.content-pictures__new {
    font-size: 18px;
    line-height: 25px;
}
.last-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 767px;
}
.last-block__text {
    font-size: 18px;
    line-height: 30px;
}
.last-block__logo {
    font-size: 46px;
    line-height: 55px;
}
}